language: python
os: linux
python:
  - 3.5
  - 3.6
  - 3.7
matrix:
  include:
    - os: osx
      language: generic
      env: PYTHON=3.7.4
before_install:
    - |
      if [ "$TRAVIS_OS_NAME" = "osx" ]; then
        brew update
        brew install openmpi pyenv-virtualenv
        pyenv install $PYTHON
        export PYENV_VERSION=$PYTHON
        export PATH="/Users/travis/.pyenv/shims:${PATH}"
        pyenv virtualenv venv
        source /Users/travis/.pyenv/versions/3.7.4/envs/venv/bin/activate
      fi
    - |
      if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        sudo apt-get update
        sudo apt-get install -y openmpi-bin libopenmpi-dev gcc
      fi
install:
    - pip install -r requirements-dev.txt
    - pip install codecov
    - pip install mpi4py
    - python setup.py build
    - python setup.py develop
    - pip install pytest-cov
script:
    - flake8 pyuoi tests docs/gallery
    - pytest --cov=./ tests
after_success:
    - codecov
