include pyproject.toml
include requirements.txt
include requirements-dev.txt
include LICENSE.txt
include liblbfgs/*.h
include liblbfgs/*.c
include pyuoi/lbfgs/*.pyx
exclude pyuoi/lbfgs/*.c
recursive-include test* *.py
